@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --themecolor: #dd2d26;
  --themecolor2: #24489e;
  --blackcolor: #222222;
  --whitecolor: #ffffff;
}

@font-face {
  font-family: helvetica-bold;
  src: url(/custom-fonts/helvetica-bold.otf);
}

@font-face {
  font-family: helvetica-light;
  src: url(/custom-fonts/helvetica-light.otf);
}

@font-face {
  font-family: helvetica-55;
  src: url(/custom-fonts/helvetica-55.otf);
}

@font-face {
  font-family: noto-tamil;
  src: url(/custom-fonts/noto-tamil.ttf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.theme-clr {
  color: var(--themecolor) !important;
}

.web-heading {
  font-family: noto-tamil;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: var(--themecolor2);
}

/* splash page work start */

.splash-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-page .splash-logo {
  width: auto;
  height: 150px;
}

/* splash page work end */

/* header work start */

header .top-logo-header {
  padding: 15px 0;
}

header .top-logo-header .logo {
  width: 220px;
  height: auto;
  margin: 0 auto;
  display: block;
}

header .header-menu .menu-wrapper {
  padding: 15px 50px;
  background-color: var(--themecolor2);
  position: relative;
  z-index: 1;
}

header .header-menu .menu-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-menu .menu-wrapper ul li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--whitecolor) !important;
  font-family: helvetica-55 !important;
}

/* header work end */

/* home banner work start */

.home-banner-slider {
  margin-top: -27px;
}

.home-banner-slider img {
  width: 100%;
  height: auto;
}

.home-banner-slider .react-multi-carousel-dot-list {
  bottom: 15px;
}

.home-banner-slider
  .react-multi-carousel-dot-list
  .react-multi-carousel-dot
  button {
  width: 40px;
  height: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--themecolor2);
}

.home-banner-slider .react-multi-carousel-dot--active button {
  background-color: var(--themecolor) !important;
}

/* home banner work end */

/* home future work start */

.home-future-section {
  padding: 60px 0;
}

.home-future-section .home-future-para {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  font-family: helvetica-55;
  color: #757679;
}

.home-future-section .home-future-img {
  width: 100%;
  height: auto;
}

/* home future work end */

/* home milestone work start */

.home-milestone-section {
  padding: 60px 0;
  background-image: url(/img/milestone-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home-milestone-section .home-milestone-para {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  font-family: helvetica-55;
  color: #757679;
}

.home-milestone-section .home-milestone-img {
  width: 100%;
  height: auto;
}

/* home milestone work end */
