@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --themecolor: #dd2d26;
  --themecolor2: #24489e;
  --blackcolor: #222222;
  --whitecolor: #ffffff;
  --heading-font: "Raleway", sans-serif;
  --para-font: "AR One Sans", sans-serif;
}

@font-face {
    font-family: helvetica-bold;
    src: url(/custom-fonts/helvetica-bold.otf);
}

@font-face {
    font-family: helvetica-light;
    src: url(/custom-fonts/helvetica-light.otf);
}

@font-face {
    font-family: helvetica-55;
    src: url(/custom-fonts/helvetica-55.otf);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.theme-clr {
  color: var(--themecolor) !important;
}

/* splash page work start */

.splash-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-page .splash-logo {
  width: auto;
  height: 150px;
}

/* splash page work end */

/* header work start */

header .top-logo-header {
  padding: 15px 0;
}

header .top-logo-header .logo {
  width: 220px;
  height: auto;
  margin: 0 auto;
  display: block;
}

header .header-menu .menu-wrapper {
  padding: 15px 50px;
  background-color: var(--themecolor2);
}

header .header-menu .menu-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-menu .menu-wrapper ul li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--whitecolor) !important;
  font-family: helvetica-55 !important;
}

/* header work end */